<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="adobereader" />
  <package id="AndroidStudio" />
  <package id="autohotkey" />
  <package id="awscli" />
  <package id="azure-cli" />
  <package id="calibre" />
  <package id="ChocolateyGUI" />
  <!-- <package id="copyq" /> -->
  <package id="golang" />
  <package id="GoogleChrome" />
  <package id="dbeaver" />
  <!-- <package id="devdocs-app" /> -->
  <package id="dex2jar" />
  <package id="FastCopy" />
  <package id="ffmpeg" />
  <package id="FileOptimizer" />
  <package id="Firefox" />
  <!-- <package id="ganttproject" /> -->
  <package id="gh" />
  <package id="github-desktop" />
  <package id="glogg" />
  <!-- <package id="GoogleJapaneseInput" /> -->
  <package id="Graphviz" />
  <package id="greenshot" />
  <!-- <package id="Hain" /> -->
  <!-- <package id="HeidiSQL" /> -->
  <package id="heroku-cli" />
  <package id="honeyview" />
  <package id="imagemagick" />
  <!-- <package id="InkScape" /> -->
  <!-- <package id="instanteyedropper" /> -->
  <package id="intellijidea-community" />
  <package id="insomnia-rest-api-client" />
  <!-- <package id="iTunes" /> -->
  <!-- <package id="javadecompiler-gui" /> -->
  <package id="keepass" />
  <package id="Kindle" />
  <package id="lepton" />
  <package id="libreoffice-fresh" />
  <package id="Monosnap" />
  <package id="mpc-be" />
  <package id="ngrok" />
  <package id="nmap" />
  <package id="nodist" />
  <package id="openjdk11" />
  <package id="paint.net" />
  <package id="pandoc" />
  <package id="PDFXchangeEditor" />
  <!-- <package id="pgadmin4" /> --><!-- as necessary -->
  <package id="pngquant" />
  <package id="postgresql10" />
  <package id="postman" />
  <!-- <package id="projectlibre" /> -->
  <package id="powertoys" />
  <package id="pt" />
  <package id="putty" />
  <!-- <package id="QGIS" /> -->
  <package id="RapidEE" />
  <package id="ripgrep" />
  <package id="ruby" />
  <!-- <package id="sbt" /> -->
  <package id="screentogif" />
  <!-- <package id="slack" /> -->
  <!-- <package id="SourceTree" /> -->
  <package id="screenpresso" />
  <package id="sqlnotebook" />
  <package id="sqlitebrowser" />
  <package id="sysinternals" />
  <package id="teraterm" />
  <package id="tortoisesvn" />
  <package id="typora" />
  <package id="virtualbox" />
  <package id="vagrant" />
  <package id="vscode" />
  <package id="winmerge" />
  <package id="winscp" />
  <package id="XnView" />
  <package id="xmind" />
  <package id="yarn" />
  <package id="zeal.install" />
</packages>
