<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- <package id="7zip" /> --><!-- winget -->
  <!-- <package id="adobereader" /> --><!-- winget -->
  <!-- <package id="AndroidStudio" /> -->
  <!-- <package id="autohotkey" /> --><!-- winget -->
  <!-- <package id="awscli" /> --><!-- winget -->
  <!-- <package id="azure-cli" /> --><!-- winget -->
  <!-- <package id="azure-cosmosdb-emulator" /> --><!-- winget -->
  <package id="cosmosdbexplorer" />
  <!-- <package id="calibre" /> -->
  <package id="ChocolateyGUI" />
  <!-- <package id="copyq" /> -->
  <!-- <package id="golang" /> --><!-- winget -->
  <!-- <package id="GoogleChrome" /> --><!-- winget -->
  <!-- <package id="dbeaver" /> -->
  <!-- <package id="devdocs-app" /> -->
  <package id="dex2jar" />
  <!-- <package id="docker-desktop" /> -->
  <!-- <package id="drawio" /> --><!-- winget -->
  <package id="dwgtrueview" packageParameters="/Japanese" />
  <!-- <package id="FastCopy" /> --><!-- winget -->
  <package id="ffmpeg" />
  <!-- <package id="FileOptimizer" /> --><!-- winget -->
  <!-- <package id="Firefox" /> --><!-- winget -->
  <!-- <package id="ganttproject" /> -->
  <!-- <package id="gh" /> --><!-- winget -->
  <!-- <package id="github-desktop" /> --><!-- winget -->
  <!-- <package id="glogg" /> -->
  <!-- <package id="Ghostscript" /> --><!-- winget -->
  <!-- <package id="GoogleJapaneseInput" /> -->
  <package id="GraphicsMagick" />
  <!-- <package id="Graphviz" /> --><!-- winget -->
  <!-- <package id="greenshot" /> --><!-- winget -->
  <!-- <package id="Hain" /> -->
  <!-- <package id="HeidiSQL" /> -->
  <!-- <package id="heroku-cli" /> --><!-- winget -->
  <!-- <package id="honeyview" /> -->
  <!-- <package id="imageglass" /> -->
  <!-- <package id="imagemagick" /> --><!-- winget -->
  <!-- <package id="InkScape" /> -->
  <!-- <package id="instanteyedropper" /> -->
  <!-- <package id="intellijidea-community" /> --><!-- winget -->
  <!-- <package id="insomnia-rest-api-client" /> -->
  <!-- <package id="iTunes" /> -->
  <!-- <package id="javadecompiler-gui" /> -->
  <package id="jetbrainsmono" />
  <package id="jq" />
  <!-- <package id="keepassxc" /> --><!-- winget -->
  <!-- <package id="Kindle" /> -->
  <!-- <package id="kubernetes-cli" /> -->
  <!-- <package id="kubernetes-helm" /> -->
  <package id="lepton" />
  <!-- <package id="libreoffice-fresh" /> --><!-- winget -->
  <!-- <package id="minikube" /> -->
  <!-- <package id="Monosnap" /> -->
  <package id="mpc-be" />
  <package id="ngrok" />
  <!-- <package id="nmap" /> --><!-- winget -->
  <!-- <package id="openjdk11" /> --><!-- winget -->
  <!-- <package id="paint.net" /> -->
  <!-- <package id="pandoc" /> --><!-- winget -->
  <package id="pathlengthchecker" />
  <!-- <package id="PDFXchangeEditor" /> --><!-- winget -->
  <!-- <package id="pgadmin4" /> --><!-- as necessary -->
  <!-- <package id="pngquant" /> -->
  <package id="postgresql10" />
  <!-- <package id="postman" /> --><!-- winget -->
  <!-- <package id="projectlibre" /> -->
  <!-- <package id="powertoys" /> -->
  <package id="pt" />
  <!-- <package id="putty" /> -->
  <!-- <package id="QGIS" /> -->
  <!-- <package id="RapidEE" /> --><!-- winget -->
  <package id="ripgrep" />
  <!-- <package id="ripgrep-all" /> -->
  <!-- <package id="ruby" /> -->
  <!-- <package id="sbt" /> -->
  <!-- <package id="screentogif" /> -->
  <!-- <package id="slack" /> -->
  <!-- <package id="SourceTree" /> -->
  <!-- <package id="screenpresso" /> -->
  <package id="ServiceBusExplorer" />
  <!-- <package id="sqlnotebook" /> -->
  <!-- <package id="sqlitebrowser" /> --><!-- winget -->
  <!-- <package id="stern" /> -->
  <package id="sysinternals" />
  <!-- <package id="teraterm" /> --><!-- winget -->
  <!-- <package id="tortoisesvn" /> -->
  <!-- <package id="tldr" /> -->
  <package id="turnedontimesview" />
  <!-- <package id="typora" /> --><!-- winget -->
  <!-- <package id="virtualbox" /> --><!-- Change to Hyper-V -->
  <!-- <package id="vagrant" /> --><!-- Change to Hyper-V -->
  <!-- <package id="vscode" /> -->
  <!-- <package id="winmerge" /> --><!-- winget -->
  <!-- <package id="winscp" /> --><!-- winget -->
  <!-- <package id="XnView" /> -->
  <!-- <package id="xmind" />--><!-- winget -->
  <!-- <package id="yarn" /> -->
</packages>
