<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="adobereader" />
  <package id="android-sdk" />
  <package id="AndroidStudio" />
  <package id="apktool" />
  <package id="azure-cli" />
  <package id="ChocolateyGUI" />
  <package id="GoogleChrome" />
  <package id="dbeaver" />
  <!-- <package id="devdocs-app" /> -->
  <package id="dex2jar" />
  <!-- <package id="FastCopy" /> -->
  <package id="ffmpeg" />
  <package id="FileOptimizer" />
  <package id="Firefox" />
  <!-- <package id="ganttproject" /> -->
  <package id="glogg" />
  <!-- <package id="GoogleJapaneseInput" /> -->
  <!-- <package id="Hain" /> -->
  <!-- <package id="HeidiSQL" /> -->
  <package id="heroku-cli" />
  <!-- <package id="InkScape" /> -->
  <!-- <package id="instanteyedropper" /> -->
  <package id="intellijidea-community" />
  <package id="iTunes" />
  <!-- <package id="javadecompiler-gui" /> -->
  <package id="jdk8" />
  <package id="keepass" />
  <package id="Kindle" />
  <package id="libreoffice-fresh" />
  <!-- <package id="monosnap" /> -->
  <package id="nmap" />
  <package id="nodist" />
  <!-- <package id="paint.net" /> -->
  <package id="pandoc" />
  <package id="PDFXchangeEditor" />
  <!-- <package id="pgadmin4" /> -->
  <!-- <package id="postgresql" /> -->
  <package id="postman" />
  <!-- <package id="projectlibre" /> -->
  <!-- <package id="pt" /> -->
  <package id="putty" />
  <!-- <package id="QGIS" /> -->
  <package id="RapidEE" />
  <package id="ripgrep" />
  <!-- <package id="sbt" /> -->
  <package id="screentogif" />
  <!-- <package id="slack" /> -->
  <!-- <package id="SourceTree" /> -->
  <package id="screenpresso" />
  <package id="sqlnotebook" />
  <package id="sqlitebrowser" />
  <package id="teraterm" />
  <package id="tortoisesvn" />
  <package id="vscode" />
  <package id="winmerge" />
  <package id="winscp" />
  <package id="XnView" />
  <!-- <package id="xmind" /> -->
  <package id="zeal.install" />
</packages>
